<div style="text-align: center">
  <div> <input class="myDisplay" type="text" [(ngModel)]="displayString"> </div>
  <div> <button (click)="updateDisplay('1')" class = "myButton"> 1 </button> <button (click)="updateDisplay('2')" class = "myButton"> 2 </button> <button (click)="updateDisplay('3')" class = "myButton"> 3 </button> <button (click)="updateDisplay('÷')" class = "myButton"> ÷ </button> </div>
  <div> <button (click)="updateDisplay('4')" class = "myButton"> 4 </button> <button (click)="updateDisplay('5')" class = "myButton"> 5 </button> <button (click)="updateDisplay('6')" class = "myButton"> 6 </button> <button (click)="updateDisplay('x')" class = "myButton"> x </button> </div>
  <div> <button (click)="updateDisplay('7')" class = "myButton"> 7 </button> <button (click)="updateDisplay('8')" class = "myButton"> 8 </button> <button (click)="updateDisplay('9')" class = "myButton"> 9 </button> <button (click)="updateDisplay('-')" class = "myButton"> - </button> </div>
  <div> <button (click)="updateDisplay('0')" class = "myButton"> 0 </button> <button (click)="updateDisplay('.')" class = "myButton"> . </button> <button (click)="calculate()" class = "myButton"> = </button> <button (click)="updateDisplay('+')" class = "myButton"> + </button> </div>
  <div> <button (click)="clearString()" class = "myAC"> AC </button> <button (click)='backspaceString()' class="myDEL"> DEL </button></div> 
</div>

<router-outlet></router-outlet>
